.odd{
    background-color: pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#two{
    color: blue;
    font-size: 36px;
}
.new-font{
    font-size: 24px;
}
#four{
    background-color: rgb(40, 187, 91);
    font-weight: bold;
}